[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flask = "*"
flask-compress = "*"
pytest = "*"
flask-cache = "*"
maya = "*"
crayons = "*"
gunicorn = "*"
whitenoise = "*"
decorator = "*"
brotli = "*"
flask-assets = "*"
numpy = "*"
pandas = "*"
keras = "*"
sklearn = "*"
argparse = "*"
jupyter = "*"
tensorflow = "*"
matplotlib = "*"
"h5py" = "*"
requests = "*"
couchdb = "*"
pyproj = "*"


[requires]

python_version = "3.6"
